{
  "processors": ["stylelint-processor-styled-components"],
  "extends": ["stylelint-config-standard", "stylelint-config-styled-components"],
  "rules": {
    "font-weight-notation": null,
    "at-rule-no-unknown": null,
    "max-empty-lines": 2,
    "comment-empty-line-before": null,
    "at-rule-empty-line-before": null
  }
}
